<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Luís</string>
		<key>surname</key>
		<string>Boça</string>
		<key>phone</key>
		<string>(11)99524-4476</string>
		<key>photo</key>
		<string>luisboca.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Joselito</string>
		<key>surname</key>
		<string>Sem Noção</string>
		<key>phone</key>
		<string>(11)99822-4326</string>
		<key>photo</key>
		<string>joselito.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Gil</string>
		<key>surname</key>
		<string>Brother</string>
		<key>phone</key>
		<string>(11)99768-2321</string>
		<key>photo</key>
		<string>gilbrother.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Padre</string>
		<key>surname</key>
		<string>Quemedo</string>
		<key>phone</key>
		<string>(11)99524-4476</string>
		<key>photo</key>
		<string>padrequemedo.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Cláudio</string>
		<key>surname</key>
		<string>Ricardo</string>
		<key>phone</key>
		<string>(11)99080-8000</string>
		<key>photo</key>
		<string>claudioricardo.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Charlinho</string>
		<key>surname</key>
		<string>Guerreiro</string>
		<key>phone</key>
		<string>(11)94760-5600</string>
		<key>photo</key>
		<string>charlinho.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Hermes</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)99524-4476</string>
		<key>photo</key>
		<string>hermes.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Renato</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)99524-3000</string>
		<key>photo</key>
		<string>renato.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Vó Lourdes</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)99524-4476</string>
		<key>photo</key>
		<string>lourdes.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Linhares</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)94760-5600</string>
		<key>photo</key>
		<string>linhares.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Lindomar</string>
		<key>surname</key>
		<string>Souza</string>
		<key>phone</key>
		<string>(11)99524-0001</string>
		<key>photo</key>
		<string>lindomar.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Lacerda</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)99768-2321</string>
		<key>photo</key>
		<string>lacerda.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Pereira</string>
		<key>surname</key>
		<string>Souza</string>
		<key>phone</key>
		<string>(11)99524-4476</string>
		<key>photo</key>
		<string></string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Wallace</string>
		<key>surname</key>
		<string>Guilhermino</string>
		<key>phone</key>
		<string>(11)93434-5100</string>
		<key>photo</key>
		<string>wallace.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Dona Máxima</string>
		<key>surname</key>
		<string></string>
		<key>phone</key>
		<string>(11)98001-3324</string>
		<key>photo</key>
		<string>donamaxima.png</string>
	</dict>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>firstName</key>
		<string>Jaqueline</string>
		<key>surname</key>
		<string>Faxineira</string>
		<key>phone</key>
		<string>(11)4441-8760</string>
		<key>photo</key>
		<string>jaqueline.png</string>
	</dict>
</array>
</plist>
